<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- doc_title %></title>
    <style>
      <%- global_styles %>
    </style>

    <style>
      <%- page_styles %>
    </style>
  </head>

  <body>
    <%- body1 %>
  </body>
  <script defer>
    <%- global_scripts %>
  </script>
  <script defer>
    <%- page_scripts %>
  </script>
</html>
